PORT=4174
CONTACT_TO_EMAIL=contact@hydradigital.co.uk
CONTACT_FROM_EMAIL=Hydra Digital Website <website@hydradigital.co.uk>
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CONTACT_FORWARD_EMAIL=jamesmcfadyen4@gmail.com
VITE_POSTHOG_KEY=phc_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_POSTHOG_HOST=https://eu.i.posthog.com
